* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "poppinsregular";
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "poppinsregular";
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:"poppinsregular";
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;

}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
::placeholder {
  color:#FBF8EC;
}

#home {
	background: #FFFFFF;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

header h1{
width: 80px;

}
header h1 a{
	display: block;

}

header h1 a img{
	width: 100%;
	display: block;
}

header nav{

}

header nav ul{
	display: flex;
}

header nav ul li {
	margin-right: 35px;

}

header nav ul li a{
	color: #fff;
	
	font-size: 20px;
	font-weight: bold;

	color:rgb(0, 0, 0);

}
header nav ul li:hover a{
	color: #FF7A00;
}
/* top */
section.top { 
	padding: 100px 0;
	

}

section.top section.wrapper { 

}

section.top section.wrapper div.top { 
	padding-top: 20px;
	display: flex;
	justify-content: space-between;

}

section.top section.wrapper div.top div.left { 
	width: 30%;


}

section.top section.wrapper div.top div.left h1 { 
	font-weight: 700px;
	font-size: 75px;
	font-weight: bold;
	
}
section.top section.wrapper div.top div.left h2 { 

	color: #FF7A00;
	font-size: 75px;
	font-weight: bold;

}


section.top section.wrapper div.top div.left p { 
	color:#AAAAAA;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 20px;
	

}


section.top section.wrapper div.top div.left a.button { 

	background-color: #FBD573; 
	border: none;
	color: #000;;
	font-weight: bold;
	padding: 25px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 35px;
	box-shadow: 2px 2px 2px 2px #f3f0f0;

	


}

section.top section.wrapper div.top div.middle { 
	position: absolute;
	right: 490px;

	width: 27%;

}

section.top section.wrapper div.top div.middle img { 

	
	display: block;
	width: 100%;

}

section.top section.wrapper div.top div.right { 
	width: 40%;

}

section.top section.wrapper div.top div.right img { 
	display: block;
	width: 100%;


}


/* bottom */

section.bottom { 

}

section.bottom section.wrapper { 

}

section.bottom section.wrapper div.bottom { 
	display: flex;
	position: relative;
	justify-content: space-around;
}

section.bottom section.wrapper div.bottom div.left { 
	
	position: absolute;
	left: 30px;
	z-index: -1;

}

section.bottom section.wrapper div.bottom div.left img { 

	width: 50%;
	height: 50%;

}

section.bottom section.wrapper div.bottom div.middle { 
	z-index: 2;
}

section.bottom section.wrapper div.bottom div.middle img { 

	

}

section.bottom section.wrapper div.bottom div.right { 

	padding-top: 50px;
	


}

section.bottom section.wrapper div.bottom div.right h3 {
	color: #FF7A00; 


}
section.bottom section.wrapper div.bottom div.right span { 
	color: #FF7A00;
	font-size: 50px;
	font-weight: bold;


}

section.bottom section.wrapper div.bottom div.right small { 
	color: #000;
	font-size: 35px;
	font-weight: bold;


}



section.bottom section.wrapper div.bottom div.right h1 { 

}

section.bottom section.wrapper div.bottom div.right p { 
	color:rgb(134, 129, 129);
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 20px;
	

	


}

section.bottom section.wrapper div.bottom div.right a.button { 

	background-color: #FBD573; 
	border: none;
	color: #000;;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 35px;
	box-shadow: 2px 2px 2px 2px #f3f0f0;

}


/* services */
section#service { 

}

section#service section.wrapper { 

}
section#service section.wrapper section.content{ 
	width: 80%;
	margin: 0 auto;
}

section#service section.wrapper section.content section.top { 

}

section#service section.wrapper section.content section.top span.service { 
	color: #FF7A00; 
	text-align: center;
	margin-left: 45%;
	
	

}

section#service section.wrapper section.content section.top h3 { 
	color: #000;
	font-size: 35px;
	font-weight: bold;
	display: inline;
	text-align: center;
	margin-left: 35%;
	
}
	

section#service section.wrapper section.content section.top h4 { 
	text-align: center;
	color: #FF7A00;
	font-size: 35px;
	font-weight: bold;
	display: inline;
}

section#service section.wrapper section.content section.top p { 
	
	color:rgb(134, 129, 129);
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 20px;
text-align: center;
	

}

section#service section.wrapper section.content section.bottom { 

}

section#service section.wrapper section.content section.bottom ul { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

section#service section.wrapper section.content section.bottom ul li { 
	width: 48%;
	border: 1px solid #dadce0;
	border-radius: 30px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
section#service section.wrapper section.content section.bottom ul li:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	background: #fff;
}
section#service section.wrapper section.content section.bottom ul li:nth-child(3),
section#service section.wrapper section.content section.bottom ul li:last-child{
	margin-bottom: 0;
}
section#service section.wrapper section.content section.bottom ul li div.left { 

}

section#service section.wrapper section.content section.bottom ul li div.left img { 
	width: 100%;
	display: block;
}

section#service section.wrapper section.content section.bottom ul li div.right { 
	width:80%;
}

section#service section.wrapper section.content section.bottom ul li div.right h5 { 
	font-size: 30px;
	font-weight: 700;
	color: #000;
}

section#service section.wrapper section.content section.bottom ul li div.right p { 
	color:rgb(134, 129, 129);
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 20px;
	

}

section#service section.wrapper section.content a.button {
	 background-color: #FBD573; 
	border: none;
	color: #000;;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 28px auto 0;
	width: 15%;
	font-size: 16px;
	cursor: pointer;
	border-radius: 35px;
	box-shadow: 2px 2px 2px 2px #f3f0f0;

}

/* overview */

section.overview { 
	padding-top: 100px;

}

section.overview section.wrapper { 

}

section.overview section.wrapper div.overview { 


	display: flex;
	position: relative;
	justify-content: space-around;
	
}



section.overview section.wrapper div.overview div.left { 
	

}

section.overview section.wrapper div.overview div.left h3 { 
	color: #FF7A00; 
	margin-bottom: 20px;
}

section.overview section.wrapper div.overview div.left h4 {
	
	color: #FF7A00;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;


}
section.overview section.wrapper div.overview div.left h4::after {
	content: "QHSE";
	color: #000;
	font-weight: 600;
}
section.overview section.wrapper div.overview div.left h5 { 
	color: #000;
	font-size: 50px;
	

}
section.overview section.wrapper div.overview div.left h5 b {
	font-weight: 700;
}
section.overview section.wrapper div.overview div.left p { 

	color:rgb(134, 129, 129);
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 20px;
	



}

section.overview section.wrapper div.overview div.left p br { 

}

section.overview section.wrapper div.overview div.left a.button {
	
	background-color: #FBD573; 
	border: none;
	color: #000;;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 35px;
	box-shadow: 2px 2px 2px 2px #f3f0f0;
	

}

section.overview section.wrapper div.overview div.right { 
	

}

section.overview section.wrapper div.overview div.right img { 

}


/* location */
#location { 
	position: relative;
}

#location .wrapper { 

}

#location .wrapper .top { 

}

#location .wrapper .top h4 {
	padding-bottom: 10px; 
	color: #FF7A00; 
	text-align: center;
	font-size: 20px;

	


}
#location .wrapper .top  div.heading-flex {
    display: flex;
    margin: 0 auto;
    width: 36%;
}


#location .wrapper .top  div.heading-flex h5 { 
	color: #FF7A00;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-right: 8px;
}
		
      


#location .wrapper .top div.heading-flex h6 { 
	color: #000;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#location .wrapper .map { 
	padding-top: 100px;

}

#location .wrapper .map img { 
	width: 100%;
	display: block;
}

#location .wrapper ul { 

}

#location .wrapper ul li { 

}
#location .wrapper ul li:first-child { 
	position: absolute;
	right: 1470px;
    bottom: 630px;
}
#location .wrapper ul li:nth-child(2) { 

	position: absolute;
	
	right: 1200px;
    bottom: 200px;
}
#location .wrapper ul li:nth-child(3) { 
	position: absolute;

	
	right: 1448px;
    bottom: 800px;
}
#location .wrapper ul li:nth-child(4) { 
	position: absolute;
	
	right: 1350px;
    bottom: 550px;
}
#location .wrapper ul li:nth-child(5) { 
	position: absolute;
	right: 900px;
    bottom: 400px;
}
#location .wrapper ul li:nth-child(6) { 
	position: absolute;
	right: 550px;
    bottom: 600px;
}


#location .wrapper ul li:last-child { 
	position: absolute;
	right: 575px;
    bottom: 325px;
}

#location .wrapper ul li img { 

}

#location .wrapper ul li .place { 

}

#location .wrapper ul li .place h1 { 
	padding-top: 10px;
	padding-left: 10px;
	background-color: white;
	


	color: #FF7A00;

}

#location .wrapper ul li .place h2 { 
	font-size: 10px;
	color: #CBC9D4;
	background-color: white;
	padding-bottom: 10px;
	padding-right: 10px;

}


/* testimonial */

#testimonials { 
	padding: 80px 0;
}

#testimonials .wrapper { 

}

#testimonials .wrapper h3 { 
	color: #FF7A00;
	
	text-align: center;
	margin-bottom: 20px;
}

#testimonials .wrapper h1 { 
	color: #000;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
#testimonials .wrapper h1::before {
	content: "What";
	font-weight: bold;
	color: #FF7A00;
}
#testimonials .wrapper .feedback { 
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

#testimonials .wrapper .feedback .feedbacks { 
	padding: 40px 50px 50px 50px ;
	position: relative;
}
#testimonials .wrapper .feedback .feedbacks:hover { 
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 18px;
}

#testimonials .wrapper .feedback .feedbacks img.position { 
	max-width: 90px;
	border-radius: 50%;
	display: block;
	position: absolute;
	bottom: 255px;
    left: 25px;
}

#testimonials .wrapper .feedback .feedbacks p { 
	color:rgb(134, 129, 129);
	margin: 28px 0;
	font-size: 20px;
}

#testimonials .wrapper .feedback .feedbacks p br { 

}

#testimonials .wrapper .feedback .feedbacks .flex { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#testimonials .wrapper .feedback .feedbacks .flex .left { 

}

#testimonials .wrapper .feedback .feedbacks .flex .left .name { 
	display: block;
	margin-bottom: 18px;
	font-size: 25px;
	font-weight: 700;
}

#testimonials .wrapper .feedback .feedbacks .flex .left .posiiton { 
	color:rgb(134, 129, 129);
	font-weight: 600;
}

#testimonials .wrapper .feedback .feedbacks .flex .star { 
	display: flex;
	justify-content: space-between;
}

#testimonials .wrapper .feedback .feedbacks .flex .star img { 
	width: 30px
}

/* career */


#career { 
	width: 80%;
	margin:0 auto;
	border-radius: 50px;
	background-image: url(/Assets/background\ -\ work\ for\ us.png);
	padding: 100px 0;
}

#career .wrapper { 

}

#career .career { 

}

#career .career h5 {
	
color: #FF7A00;
font-size: 35px;
font-weight: bold;
display: inline;
margin-left: 35%;
}
#career .career h6 { 
	color: #000;
	display: inline;
	font-size: 35px;
	font-weight: bold;
}

#career .career p { 
	font-weight: bold;
	color: rgb(31, 30, 30);
	padding-top: 30px;

	text-align: center;

}

#career .career .upload { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 28px auto 0;
}

#career .career .upload form { 
	background-color: #fff;
	border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 28px 22px;
}	
#career .career .upload form input::placeholder{
		margin-bottom: 20px;
		color:#CBC9D4;
		font-size: 20px;
}

#career .career .upload form input { 
	width: 70%;
	height: 30px;
	font-style: italic;
}

#career .career .upload a { 
	display: block;
}

#career .career .upload a img { 
	display: block;
}

#career .career .upload button { 
	background: #080133;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 34px 60px;
    border-radius: 12px;
}



/* footer */
footer { 
}

footer .wrapper { 

}

footer .wrapper .content { 
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #000;

}

footer .wrapper .content div { 
	padding: 80px 0;
}

footer .wrapper .content div h1 { 
	max-width: 100px;
}

footer .wrapper .content div h1 a { 
	display: block;
}

footer .wrapper .content div h1 a img { 

	display: block;
	width: 80%;
	margin-bottom: 20px;
}

footer .wrapper .content div p { 

	color: gray;
	line-height: 1cm;
}

footer .wrapper .content div p br { 

}
footer .wrapper .content div ul {}
footer .wrapper .content div ul li{
	margin-bottom: 20px;
}
footer .wrapper .content div ul li h4{
	font-weight: bold;
	font-size: 20PX;
}
footer .wrapper .content div ul li a{

	color:#9A97AC;
	
	
}
footer .wrapper .content div h4{
	font-weight: bold;
	font-size: 20PX;
}
footer .wrapper .content div p{
	font-size: 17px;
	color: #ABABAB;
}
footer .wrapper .content div ul.social{
	display: flex;
	justify-content: space-between;
}
footer .wrapper .content div ul.social li{

	
}
footer .wrapper .content div ul.social li div.round_image{
	display: flex;
	align-items: center;
	background:  #FBD573;;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0 0 0 11px;
}
footer .wrapper .content div ul.social li:first-child div.round_image {
	padding: 0 18px;
}
footer .wrapper .content div ul.social li div.round_image a{
	display: block;
}
footer .wrapper .content div ul.social li div.round_image img{
	display: block;
}
footer .wrapper section.bottom {
	padding: 50px 0;
	width: 31%;
	margin: 0 auto;
}
footer .wrapper section.bottom a {
	color: #FF7A00;
	font-weight: 600;
}
@media all and (max-width: 1380px) {
	section.top section.wrapper div.top div.middle {
    position: absolute;
    right: 370px;
    width: 28%;
	}
	section.top section.wrapper div.top div.left {
		width: 50%;
	}
	section.bottom section.wrapper div.bottom div.right a.button {
		margin: 22px 2px;
	}
	section#service section.wrapper section.content section.top span.service {
		display: block;
	}
	section#service section.wrapper section.content section.bottom ul li {
		padding: 50px 23px;
	}
	section#service section.wrapper section.content section.bottom ul li div.right {
		width: 75%;
	}
	section#service section.wrapper section.content a.button {
		padding: 24px 35px;
		width: 20%;
	}
	section.overview section.wrapper div.overview div.left h5 {
		font-size: 48px;
	}
	section.overview section.wrapper div.overview div.left a.button {
		padding: 20px 40px;
	}
	#location .wrapper .top div.heading-flex {
		display: flex;
		margin: 0 auto;
		width: 49%;
	}
	#testimonials .wrapper .feedback .feedbacks img.position {
		bottom: 260px;
	}
	#testimonials .wrapper .feedback .feedbacks {
		padding: 40px 16px 50px;
	}
	#testimonials .wrapper .feedback .feedbacks .flex .star img {
		width: 30px;
		margin-right: 4px;
	}
	#career .career .upload {
		width: 75%;
	}
	#career .career .upload form {
		width: 75%;
	}
	footer .wrapper .content div h4 {
		margin-bottom: 18px;
	}
	footer .wrapper .content div p {
		line-height: 8.5mm;
	}
	footer .wrapper section.bottom {
		width: 50%;
	}
}
@media all and (max-width:1280px) {
	header nav ul li {
		margin-right: 20px;
	}
	section#service section.wrapper section.content section.top p {
		padding: 0;
		font-size: 19px;
		text-align: center;
		margin-top: 24px;
	}
	section.overview section.wrapper div.overview div.left h4 {
		font-size: 48px;
	}
	section.overview section.wrapper div.overview div.left h5 {
		font-size: 40px;
	}
	#location .wrapper .top div.heading-flex {
		width: 56%;
	}
	#testimonials .wrapper .feedback .feedbacks img.position {
		bottom: 287px;
	}
}
@media all and (max-width:1080px) {
	
	section.top section.wrapper div.top div.middle {
		right: 265px;
	}
	section#service section.wrapper section.content section.top h3 {
		margin-left: 27%;
	}
	section#service section.wrapper section.content a.button {
		width: 27%;
	}
	#location .wrapper .top div.heading-flex {
		width: 66%;
	}
	#testimonials .wrapper .feedback .feedbacks img.position {
		display: none;
	}
	#testimonials .wrapper .feedback {
		flex-wrap: wrap;
	}
	#testimonials .wrapper .feedback .feedbacks{
		width: 48%;
		margin-bottom: 32px;
	}
	#career .career .upload {
		width: 90%;
	}
	footer .wrapper .content {
		flex-wrap: wrap;
	}
	footer .wrapper section.bottom {
		width: 59%;
	}
}
@media all and (max-width: 980px) {
	section.top section.wrapper div.top div.left h1 {
		font-size: 63px;
	}
	section.top section.wrapper div.top div.middle {
		width: 23%;
		right: 258px;
	}
	section#service section.wrapper section.content section.bottom ul li div.left {
		width: 15%;
	}
	section.bottom section.wrapper div.bottom div.middle img {
		width: 100%;
		display: block;
	}
	section.bottom section.wrapper div.bottom div.right a.button {
		padding: 20px 40px;
	}
	section#service section.wrapper section.content section.bottom ul li div.right p {
		font-size: 14px;
	}
	section#service section.wrapper section.content section.bottom ul li div.right {
		width: 73%;
	}
	section#service section.wrapper section.content section.top span.service {
		margin-left: 4%;
	}
	section#service section.wrapper section.content section.bottom ul li div.right h5 {
		font-size: 24px;
	}
	section.overview section.wrapper div.overview div.right {
		display: none;
	}
	section.overview section.wrapper div.overview div.left a.button {
		padding: 30px 40px;
		display: block;
		width: 40%;
		margin: 0 auto 40px;
	}
	section.overview section.wrapper div.overview div.left {
		text-align: center;
	}
	#location .wrapper .top div.heading-flex {
		width: 70%;
	}
	#location .wrapper ul {
		display: none;
	}
	#career .career .upload {
		width: 100%;
	}
	footer {
		padding: 40px 0;
	}
	footer .wrapper .content div {
		padding: 30px 0;
	}
	footer .wrapper section.bottom {
		width: 61%;
	}
}
@media all and (max-width:768px) {
	header nav ul li a {
		font-size: 14px;
	}
	header nav ul li {
		margin-right: 10px;
	}
	section.top section.wrapper div.top div.middle {
		right: 207px;
	}
	section.top section.wrapper div.top div.left h1 {
		font-size: 48px;
	}
	section.top section.wrapper div.top div.left h2 {
		font-size: 58px;
	}
	section#service section.wrapper section.content section.top h3 {
    margin-left: 21%;
	}
	section#service section.wrapper section.content section.bottom ul li {
		width: 100%;
		padding: 80px 23px;
	}
	section#service section.wrapper section.content section.bottom ul li:nth-child(3) {
		margin-bottom: 48px;
	}
	section#service section.wrapper section.content a.button {
		width: 35%;
	}
	#location .wrapper .top div.heading-flex {
		width: 90%;
	}
	#testimonials .wrapper .feedback .feedbacks p {
		font-size: 16px;
	}
	#testimonials .wrapper .feedback .feedbacks .flex .left .name {
		font-size: 20px;
	}
	#testimonials .wrapper .feedback .feedbacks .flex .left .posiiton {
		font-size: 14px;
	}
	#career .career h5 {
		margin-left: 15%;
	}
	#career .career .upload form {
		width: 66%;
	}
	#career .career .upload form input {
		width: 100%;
		height: 24px;
	}
	#career .career .upload button {
		padding: 31px 60px;
	}
	footer .wrapper .content div h1 {
		max-width: 100px;
		margin: 0 auto 24px;
	}
	footer .wrapper .content {
		justify-content: center;
	}
	footer .wrapper .content div{
		width: 100%;
		text-align: center;
	}
	footer .wrapper .content div p {
		margin-bottom: 24px;
	}
	footer .wrapper .content div ul.social {
		width: 50%;
		margin: 0 auto;
	}
	footer .wrapper section.bottom {
		width: 80%;
	}
}
@media all and (max-width: 640px) {
	section.top section.wrapper div.top {
		flex-wrap: wrap;
	}
	section.top section.wrapper div.top div.left {
		width: 80%;
		margin: 0 auto;
		
		text-align: center;
	}
	section.top section.wrapper div.top div.right {
		width: 60%;
		margin: 49px 0 0 198px;
	}
	section.top section.wrapper div.top div.middle {
		right: 279px;
		top: 639px;
		width: 40%;
	}
	section.bottom section.wrapper div.bottom div.right h3 {
		font-size: 16px;
	}
	section.bottom section.wrapper div.bottom div.right span {
		font-size: 30px;
	}
	section.bottom section.wrapper div.bottom div.right p {
		font-size: 14px;
	}
	section.bottom section.wrapper div.bottom {
		flex-wrap: wrap-reverse;
	}
	section.bottom section.wrapper div.bottom div.right {
		width: 100%;
		text-align: center;
	}
	section.bottom section.wrapper div.bottom div.right a.button {
		margin-bottom: 36px;
	}
	section#service section.wrapper section.content {
		width: 100%;
	}
	section#service section.wrapper section.content section.top p {
		font-size: 14px;
	}
	#location .wrapper .top div.heading-flex h5 {
		font-size: 36px;
	}
	#location .wrapper .top div.heading-flex h6 {
		font-size: 36px;
	}
	#location .wrapper .top div.heading-flex {
		width: 76%;
	}
	section.overview section.wrapper div.overview div.left a.button {
		padding: 20px 53px;
		display: block;
		width: 36%;
	}
	#testimonials .wrapper .feedback .feedbacks {
		width:90%;
		text-align: center;
		margin-bottom: 70px;
	}
	#testimonials .wrapper .feedback .feedbacks .flex {
		width: 65%;
		margin: 0 auto;
	}
	#testimonials .wrapper .feedback .feedbacks img.position {
		display: block;
	}
	#testimonials .wrapper .feedback .feedbacks img.position {
		bottom: 236px;
	}
	#career .career .upload form {
		width: 59%;
	}
	#career .career .upload form input::placeholder {
		font-size: 12px;
	}
	footer .wrapper section.bottom {
		width: 93%;
	}
}